<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Post Create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create <br/>
title : <input type="text" class="input_param" name="title" id="input_title" /> <br/>
content : <input type="text" class="input_param" name="content" id="input_content" /> <br/>
<button onclick="create_post()">입력하기!</button>

<script>
    function create_post(){

        let tempParam = {};
        let input_param = $(".input_param");
        for(let each of input_param){
            tempParam[$(each).attr("name")] = $(each).val();
        }
        $.ajax({
            url: '/api/post',
            method: 'POST',
            contentType : 'application/json; charset=utf-8',
            data : JSON.stringify(tempParam),
            success: function (data, status, xhr) {
                alert("data : : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>

</body>
</html>